:root {
  --tp-base-background-color: hsla(0, 0%, 100%, 0.8);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 80%, 1);
  --tp-button-background-color-active: hsla(0, 0%, 50%, 1);
  --tp-button-background-color-focus: hsla(0, 0%, 50%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 50%, 1);
  --tp-button-foreground-color: hsla(0, 0%, 0%, 1);
  --tp-container-background-color: hsla(0, 0%, 70%, 1);
  --tp-container-background-color-active: hsla(0, 0%, 50%, 1);
  --tp-container-background-color-focus: hsla(0, 0%, 50%, 1);
  --tp-container-background-color-hover: hsla(0, 0%, 50%, 1);
  --tp-container-foreground-color: hsla(0, 0%, 0%, 1);
  --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.2);
  --tp-input-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.4);
  --tp-input-foreground-color: hsla(0, 0%, 0%, 1);
  --tp-label-foreground-color: hsla(0, 0%, 0%, 1);
  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.3);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Hide scrollbars */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

#gui {
  position: absolute;
  z-index: 2;
  top: 2px;
  right: 2px;
}

#tweakpane {
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;
}
#inputDiv {
  position: absolute;
  z-index: 3;
  bottom: 2px;
  right: 2px;
}

#info {
  position: absolute;
  z-index: 2;
  bottom: 2px;
  left: 2px;
  padding-left: 20px;
  overflow: auto;
  border: 1px solid black;
  width: 100%;
  height: 300px;
  display: none;
}

#stats {
  position: absolute;
  z-index: 2;
  bottom: 2px;
  right: 2px;
  height: 200px;
}

.grid {
  display: flex;
}

.canvas-container {
  flex: 1;
}
